@font-face {
  font-family: tsukushi;
  src: url(../font/tsukushibmarugothic.otf) format("opentype"); }

* {
  padding: 0;
  margin: 0; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

@keyframes eyemove {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  75% {
    left: -10px; }
  100% {
    left: 0px; } }

body {
  font-family: tsukushi; }
  body #chanchihiro_header {
    margin-top: 24px; }
    @media screen and (max-width: 750px) {
      body #chanchihiro_header ul {
        width: 280px;
        margin: 0 auto;
        overflow: hidden; } }
    body #chanchihiro_header ul li {
      float: left;
      text-align: center;
      width: 70px; }
      body #chanchihiro_header ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 12px; }
  body #chanchihiro_face {
    width: 100%;
    height: 460px;
    margin-top: 32px;
    background-image: url("../img/top_own4.png");
    background-size: 460px 460px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    body #chanchihiro_face #chanchihiro_eye {
      position: absolute;
      width: 100%;
      height: 460px;
      top: 0;
      left: 0;
      background-size: 460px 460px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/top_own_eye.png");
      animation-name: eyemove;
      animation-duration: 2s;
      animation-timing-function: liner;
      animation-iteration-count: infinite; }
  body #chanchihiro_face_text {
    margin-top: 24px;
    text-align: center;
    font-size: 13px;
    font-weight: bold; }
