header#chanchihiro_header
 ul
  li
   a(href="http://twitter.com/share?url=http://localidle.tokyo") WORKS
  li
   a(href="https://www.facebook.com/sharer/sharer.php?u=http://localidle.tokyo") ABOUT
  li
   a(href="https://www.facebook.com/sharer/sharer.php?u=http://localidle.tokyo") FOODIAN
  li
   a(href="https://www.facebook.com/sharer/sharer.php?u=http://localidle.tokyo") BLOG