header#chanchihiro_header
 ul
  li
   a(href="index.html" style="color:" + works_color) WORKS
  li
   a(href="about.html" style="color:" + about_color) ABOUT
  li
   a(href="foodian.html" style="color:" + foodian_color) FOODIAN
  li
   a(href="http://chanchihiro.hatenablog.com/" target="_blank") BLOG