extends _head
block title
 title= "chanchihiro | foodian"
 - var works_color = "#000000"
 - var about_color = "#000000"
 - var foodian_color = "#ff0000"
block body
 include _header
 #chanchihiro_main
  p under construction ...