extends _head
block title
 title= "chanchi- portfolio"
 - var works_color = "#ff0000"
 - var about_color = "#000000"
 - var foodian_color = "#000000"
block body
 include _header
 #chanchihiro_face
  #chanchihiro_eye
 p#chanchihiro_face_text 
  | こちらに名刺を合わせていただくと、
  br
  | 名刺を着せ替えることができます。
 #chanchihiro_main
  p 
   | under construction ...
   br
   | 作品は現在掲載準備中です...
 include _script